@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color--primary: #835bff;
  --color--light--gray: #949faf;
  --color--light--dark: #2b2b2b;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: rgb(41, 41, 41);
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(132, 91, 255, 0.08) 0,
    rgba(132, 91, 255, 0.08) 1px,
    rgba(229, 229, 247, 0.108) 0,
    rgba(229, 229, 247, 0.08) 50%
  );
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* util classes */

.btnPrimary {
  background-color: var(--color--primary);
  color: white;
  padding: 0.4rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  width: max-content;
}
.btnPrimary:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-1px);
}
.btnPrimary:active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(1px);
}
.btnPrimary:disabled {
  cursor: not-allowed;
}
.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 3rem;
  margin: 1.5rem 1rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
}

.lightText {
  color: var(--color--light--gray);
}
.lightDarkText {
  color: var(--color--light--dark);
}

.titlePrimary {
  font-weight: 500;
  letter-spacing: -1px;
}
/* containers and elements */
.logoContainer {
  display: flex;
  align-items: center;
}

.navLogo {
  font-weight: 400;
  letter-spacing: -1px;
}

.heroDescriptionContainer {
  margin-top: 4rem;
  text-align: center;
  padding: 1rem;
}
.heroDescriptionContainer > h3 {
  font-size: 2.4rem;
  letter-spacing: -2px;
}
.startScreenContainer {
  background-color: white;
  padding: 2rem 1rem;
  margin: 0 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 50vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.questionContainer {
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}
.progressBar {
  align-self: flex-start;
  background-color: #835bff;
  height: 1px;
  transition: all 0.2s ease;
}
.question {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 1rem 0;
}
.optionsContainer {
  width: 30rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-weight: 300;
  text-transform: capitalize;
  cursor: pointer;
  height: 40px;
  letter-spacing: -1px;
  transition: all 0.2s ease;
  background-color: white;
}
.wrong {
  border-color: red;
}
.option:disabled {
  cursor: not-allowed;
}
.questionBtnControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 40rem;
}
.timerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color--light--gray);
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
}

.correctAnswerBg {
  background-color: #18a318;
  color: white;
  border: none;
}

.flexedContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.finishedScreenContainer {
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}
.finishedScreenContainer h1 {
  font-size: 2.5rem;
  letter-spacing: -2px;
  font-weight: 600;
}

.resetBtn {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
  color: var(--color--light--dark);
  font-weight: 300;
  letter-spacing: -1px;
}
@media only screen and (max-width: 570px) {
  .optionsContainer {
    grid-template-columns: 1fr;
    width: auto;
  }
}
@media only screen and (max-width: 760px) {
  .questionBtnControls {
    width: auto;
  }
}
